./vdemoserver/
*__pycache__/
*.vscode
# Config enviroment
venv/
# Terraform
infra/terraform/*.hcl
infra/terraform/.terraform
infra/terraform/backend.conf
## Terraform script to run
terraform/cmd
#Setup ssh key
.ssh
# Config Ansible
infra/ansible/config
# Raw database
db/